body {
    background-color: #eee;
}

.container {
    margin-top: 20px;
}

nav {
    height: 80px;
    width: 100%;
    bottom: 8px;
    box-shadow: 3px 0px 5px #aaa;
}

li {
    list-style-type: none;
}

img {
    width: 35px;
}

.card {
    width: 290px;
    height: 430px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.card-img-top {
    width: 288px;
    height: 270px;
}

.card-body {
    padding: 15px;
}

.card-body h5 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#top-bar {
    justify-content: center;
}

#searchBar-container{
    margin-right: 0px;
    margin-left: 0px;
}

#card-price {
    justify-content: center;
}

.row p {
    width: 50%;
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.cart-plus{
    width: 64px;
}